/* optional border to view divs */
/* comment out to hide */
* {
    border: 1px solid black;
}

body {
    overflow-anchor: auto;
}

/* main content conatimner except footer  */
container {
    display:flex;
    align-items: center;
}

.results {
    height: 65px;
    margin-bottom: 10px;
}

.modal.bottom-sheet {
     max-height: 100%; overflow: visible}

/* Recents Bar */
#recents {
    width: 100vw;
    display: flex;
    align-content: space-between;
    padding-right: 55px;

}

#r0 {
    align-content: center;
    padding-top: .5%;
    width: auto;
}

#r1 {
    align-content: center;
    padding-top: .5%;
    width: auto;
}

#r2 {
    align-content: center;
    padding-top: .5%;
    width: auto;
}

#r3 {
    align-content: center;
    padding-top: .5%;
    width: auto;
}

#r4 {
    align-content: center;
    padding-top: .5%;
    width: auto;
}

#r5 {
    align-content: center;
    padding-top: .5%;
    width: auto;
}

#r6 {
    align-content: center;
    padding-top: .5%;
    width: auto;
}

#r7 {
    align-content: center;
    padding-top: .5%;
    width: auto;
}

/* hide footer modal element on page*/
.hideElem {
    display: none;
}

/* Style search result poster image */

#oResult0 img{
    width: 50%;
    height: auto;
}


#oResult1 img{
    width: 150;
    height: 222;
}

#oResult2 img{
    width: 50%;
    height: auto;
}

/* .resultImage{
    width: 50%;
    height: auto;
} */